<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a>Ruby On Rails practice</a>
      By <a href="https://www.linkedin.com/in/josue-velez-232bb6a4?trk=nav_responsive_tab_profile_pic"> Josue Velez </a>
    </small>
    <nav>
      <ul>
        <li><%=link_to "About", about_path%></li>
      </ul>
    </nav>
  </footer>
</div>
